
#messages li{
    list-style-type: none;
    line-height: 2em;    
}

#messages{
    margin-bottom: 2em;    
}

#form{
    visibility: hidden;
}

#form.visible{
    visibility: visible;
}

input[type="text"]{
    font-size: 16px;
}